<div class="header">
  <div class="header-wrapper">
    <div class="header-icon-layouts">
      <img class="img-logo" src="assets/site-logo.png" width="158px" height="78px" alt="サイトロゴ" >
    </div>
  </div>
</div>
