<div class="header">
  <div class="header-wrapper">
    <div class="header-icon-layouts">
      <img class="img-logo" src="assets/site-logo.png" width="158px" height="78px" alt="サイトロゴ" >
    </div>
    <div class="switch-navdrawer-layouts">
      <input type="checkbox" id="navTgl">
	    <label for="navTgl" class="open"><span></span></label>
	    <label for="navTgl" class="close"></label>
	    <nav class="menu">
      	<h2>Menu</h2>
          <ul>
            <li class="user-icon"></li>
            <li><a href="#article1">INFOMATION</a></li>
            <li><a href="#article2">PROFILE</a></li>
            <li><a href="#article3">FAVORITE</a></li>
            <li><a href="#article4">HISTORY</a></li>
          </ul>
      </nav>
    </div>
  </div>
</div>
